<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

body {background-color: green;}
.center1 {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
	}
pre {
	position: relative; left: 10%;
	border-width:fit-content;
	color:silver;
	border-style:solid;
	border-color:silver;
	background-color: maroon;
	width: fit-content;
    
  }

h1 {
  color: #FF0000 ;
  text-align: center;
  font-size: 65;
}

h2 {
  color: #800000 ;
  text-align: center;
  font-size: 44;
}

p {
  color: #000000 ;
	font-family: centaur;
  font-size: 20px;
}
